nav img {
    margin-left: 30px;
}

.dot1 {
    height: 10px !important;
    width: 10px !important;
    border-radius: 5px !important;
    z-index: 2;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 10px;
    box-shadow: 5px 2px 8px 0px #d6d6d6;
    background-color: White;
    /* background-image: linear-gradient(rgba(41, 83, 144, 1), rgba(62, 93, 149, 1), rgba(38, 44, 65, 1)); */
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.list {
    display: flex;
    list-style: none;
    gap: 25px;
    border: 1px solid #4B6E93;
    border-radius: 5px;
}

.menu {
    position: relative;
}

.menu .list_item {
    position: relative;
    padding: 5px 10px;
}

.menu .list_item::after {
    content: "";
    position: absolute;
    height: 28px;
    width: 2px;
    background-color: #4B6E93;
    top: 5px;
    right: -10px;
}

.menu .list_item:nth-child(6)::after,
.menu .list_item:last-child::after {
    display: none;
    color: red;
}

.btn-list-property {
    background-color: #4B6E93;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 5px 15px;
    border-radius: 0px 5px 5px 0px;
    transition: background-color 0.3s ease;
}

#toggler,
label {
    display: none;
}

label i {
    color: white;
}
.applylable{
    display: block !important;
}

@media screen and (max-width: 445px) {
    nav img {
        height: 80px;
        margin-right: 10px;
        background-color: white;
    }
    .careerh2{
        font-size: 20px;
    }
    .careerh2{
        font-size: 20px;
    }
    .btn-list-property {
        background-color: #4B6E93;
        color: #000000 !important;
        font-weight: bold;
        border: none;
        padding: 5px 15px;
        border-radius: 0px 5px 5px 0px;
        transition: background-color 0.3s ease;
    }
}

@media screen and (max-width: 820px) {

    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        /* background-image: asset/image/Rectangle 1543788970.png; */
        background: url('asset/image/Rectangle 1543788970.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: background 0.3s ease-in-out;
    }

    .menu .list_item {
        position: relative;
        padding: 10px;
    }

    .menu .list_item::after {
        display: none;
    }

    .menu .list_item {
        background-color: unset;
        color: unset;
        font-weight: normal;
        border: none;
        padding: unset;
        border-radius: unset;
        transition: none;
    }

    label {
        display: inline-flex;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }

    .list {
        flex-direction: column;
        align-items: start;
        padding: 0px;
        /* float: right; */
        border: none;
    }

    .information {
        color: #000000;
    }
    .btn-list-property {
        background-color: #4B6E93;
        color: #000000 !important;
        font-weight: bold;
        border: none;
        padding: 5px 15px;
        border-radius: 0px 5px 5px 0px;
        transition: background-color 0.3s ease;
    }
}

.modal-content {
    background: url('asset/image/model_back.jpg') no-repeat center center / cover;
    color: white;
}

.property-card {
    padding: 20px;
    background-color: #fff;
}

.property-image {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.property-thumbnails {
    width: 100% !important;
    overflow-x: scroll;
}

.property-thumbnails::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

.features-item {
    width: 100% !important;
    overflow-x: scroll;
}

.features-item::-webkit-scrollbar {
    display: none;
}

.property-thumbnails img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}


.property-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 10px;
}

.price-section {
    color: #e74c3c;
    font-size: 1.2rem;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
    color: #aaa;
    font-size: 0.9rem;
    margin-left: 5px;
}

.features-list {
    list-style: none;
    padding: 0;
}

.features-list li {
    display: inline-block;
    margin-right: 20px;
    color: #555;
}

.property-features ul {
    list-style: none;
    padding: 0;
    columns: 2;
}

.property-features li {
    margin-bottom: 10px;
}

.line {
    width: 150px;
    height: 4px;
    background-image: linear-gradient(to right, #FFAC12, #000000);
    border-radius: 3px;
}

.contact_head {
    width: 120px;
    height: 4px;
    background-image: linear-gradient(to right, #FFAC12, #000000);
    border-radius: 3px;
}

.input_border {
    border: 1px solid #FFAC12;
}

.discription {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #8f8282;
}

.phone-input-container {
    display: flex;
    align-items: center;
    border: 1px solid orange;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown {
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: #fff;
    border-right: 1px solid orange;
    cursor: pointer;
}

.dropdown img {
    width: 20px;
    height: 15px;
    margin-right: 5px;
}

.dropdown span {
    font-size: 14px;
    color: #333;
}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* width: 120px; */
    width: 200px;
    height: 200px;
    overflow-y: scroll;
}

.dropdown-list div {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-list div img {
    width: 20px;
    height: 15px;
    margin-right: 5px;
}

.dropdown-list div:hover {
    background-color: #f0f0f0;
}

input[type="tel"] {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    width: 150px;
}

.property_btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFE1E1;
    text-wrap: nowrap;
    padding: 5px 20px;
}

.address {
    font-size: 10px;
}

.address_head {
    font-size: 12px;
}

.checkout {
    font-family: Plus Jakarta sans-serif;
    color: #4361EE;
    font-size: 13px;
}

footer {
    /* background-color: #444548; */
    background-image: linear-gradient(#FFFFFF, #51769E);
}



.modal-dialog {
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
}

.modal-content {
    background: url('asset/image/model_back.jpg') no-repeat center center / cover;
    color: white;
}

/* Common styles */
.image-container {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.image-container img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.rotating-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    display: none;
    /* Initially hidden */
    animation: rotate 5s linear forwards;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(500deg);
    }
}

.card-custom {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.card-custom img {
    width: 100%;
}

.overlay-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 8px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    color: #3467eb;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    /* width: 70%; */
}

.overlay-text i {
    margin-right: 8px;
}

.view_all {
    background-color: #2b5d7a9e;
    color: white;
    height: 35px;
    border-radius: 14px;
    width: 145px;
}

.maskgroup {
    height: 80px;
    width: 80px;
    align-self: center;
}

.contactUs {
    display: flex;
    margin-right: 60px;

    flex-direction: row;
}

.CareerAvatar {
    height: 70px;
    width: 70px;
}

.Profilename {
    font-size: 16px;
    /* margin: 4px;
    margin-top: 14px;
    margin-right: 18px; */
    width: 65px;
}

.ViewProfile {
    font-size: 11px;
}

.fieldd {
    border: 1px solid #FFAC12;
    border-radius: 5px;
    box-sizing: border-box;
    /* box-shadow: 0 0 2px #FFAC12; */
    border-color: #FFAC12;
    height: 36px;
    width: 120px;
    border-width: 0px;


}

.Vectorfifty {
    height: 47px;
    margin-top: 14px;
    margin-left: 8px;
}

.contactcontainer {
    /* background: linear-gradient(to top, #51769E , #FFFFFF,  ); */
    background: linear-gradient(to top, #51769E, #FFFFFF, transparent);
    background-size: cover;
    height: fit-content;



}

.testimonial {

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-color: #ccc;

}

.footer{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-color: #ccc;
}
.howItwork {
    margin-top: 29px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-color: #ccc;
}

.contactUsContainer {
    align-items: center;
    justify-content: center;

}

.contactbtn {
    width: 150px;
    border-radius: 18px;
    margin-left: -8px;
}

@media (min-width:720px) {
    .contactUsContainer {
        align-items: center;
        justify-content: start;
         gap: 4px;
         margin-right: 12px;
    }
    .contactbtn {
        width: 120px;
    }
    .contactUs {
        margin-right: 60px;
    }
    .Profilename {
        font-size: 12px;
        margin: 4px;
        margin-top: 14px;
        margin-right: 8px;
    }
    .ViewProfile {
        font-size: 10px;
    }
    .CareerAvatar {
        height: 50px;
        width: 50px;
    }
    .Vectorfifty {
        height: 47px;
        margin-top: 8px;
        margin-left: 8px;
    }
}
@media (max-width: 720px){
    .contactUsContainer {
        align-items: center;
        justify-content: start;
         gap: 2px;
         padding: 35px;
    }
}
.imagehow{
    height: 265px;
   
}